.add-products {
  min-width: 320px;
}

.add-products__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;
}

.add-products__title {
  position: relative;
  min-width: 280px;
  display: flex;
  padding: 25px 20px 35px 0;

  &::before {
    position: absolute;
    content: "";
    min-width: 100%;
    width: auto;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 38px 30px 79px;

    &::before {
      top: 40%;
      transform: translateY(-40%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 35px 110px 80px 70px;

    &::before {
      top: 40%;
      transform: translateY(-40%);
    }
  }
}

.add-products__title-wrapper {
  display: block;
  padding: 0 21px 0 20px;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 0 36px 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px 0 40px;
  }
}

.add-products__container-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 86px;
    gap: 80px;
  }
}

.add-products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 893px;
    margin: 0;
  }
}

.add-products__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 12px 0 19px;
  border-bottom: 1px solid $gray-field;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid $gray-field;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
    max-width: 895px;
    padding: 15px 0 17px;
    border: 0;
    border-bottom: 1px solid $gray-field;
  }
}

.add-products__item--milk {
  padding: 12px 0 18px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 16px;
  }
}

.add-products__item:first-child {
  border-top: 1px solid $gray-field;
}

.add-products__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $gray-field;
  }
}

.add-products__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 611px;
    gap: 50px;
  }
}

.add-products__card-title {
  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    max-width: 161px;
    text-align: left;
    padding: 10px 0;
  }
}

.add-products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 49px;
    align-self: flex-end;
    padding-top: 1px;
    padding-right: 3px;
    max-width: 142px;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    padding: 3px 0 7px;
    gap: 10px;
    align-items: center;
  }
}

.add-products__container-sugar {
  @media (min-width: $tablet-width) {
    padding-top: 2px;
    max-width: 224px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;
  }
}

.add-products__container-water {
  @media (min-width: $tablet-width) {
    max-width: 156px;
    padding-top: 3px;
    gap: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 6px;
  }
}

.add-products__container-vitamins {
  @media (min-width: $tablet-width) {
    padding-top: 3px;
    max-width: 215px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 6px;
  }
}

.add-products__description {
  @media (min-width: $desktop-width) {
    max-width: 131px;
    text-align: left;
    margin-right: auto;
  }
}

.add-products__price--small {
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 42px;
    text-align: left;
  }
}

.add-products__gift {
  width: 100%;
  min-height: 360px;
  padding: 35px 0;
  display: block;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    min-height: 200px;
    padding: 69px 0 76px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    min-height: 289px;
    padding: 0;
    margin: 0;
  }
}

.add-products__gift-container {
  width: 100%;
  display: block;
  background-image: url("../img/gift/gift-all.jpg");
  background-repeat: no-repeat;
  background-position: 35% 15%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-all@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-position: 55% 60%;
  }

  @media (min-width: $desktop-width) {
    background-position: 80% center;
  }
}

.add-products__gift-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
  min-width: 280px;
  min-height: 290px;
  padding: 58px 61px 43px 58px;
  text-align: center;
  background-color: $green-opasity;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 708px;
    min-height: 200px;
    padding: 57px 124px 60px 77px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    max-width: 245px;
    min-height: 289px;
    padding: 56px 43px 42px 41px;
  }
}

.add-products__icon-wrapper {
  width: 78px;
  height: 80px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.add-products__icon {
  width: 80px;
  height: 83px;
}

.add-products__gift-description {
  max-width: 161px;
  min-height: 62px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
    text-align: left;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    text-align: center;
  }
}
