.advantages {
  width: 100%;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 106px 69px 110px;
    border-bottom: none;
  }
}

.advantages__title {
  text-align: left;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 78px;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    gap: 29px;
    max-width: 246px;
    min-height: 280px;
    padding: 40px 26px 57px 0;
  }
}

.advantages__icon-background {
  min-width: 60px;
  min-height: 60px;
  background-color: $green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__icon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.advantages__icon {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.advantages__description {
  padding: 3px 0;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    max-width: 220px;
    padding: 0;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    max-width: 220px;
    padding-right: 0;
  }
}

.advantages__description--big {
  @media (min-width: $tablet-width) {
    max-width: 245px;
  }
}

.advantages__item--first {
  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "1";
      width: 112px;
      height: 280px;
      top: 0;
      left: 118px;
      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $light-gray;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 230px;
  }
}

.advantages__item--second {
  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "2";
      width: 134px;
      height: 280px;
      top: 0;
      left: 111px;
      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $light-gray;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 246px;
  }
}

.advantages__item--third {
  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "3";
      width: 134px;
      height: 280px;
      top: 0;
      left: 113px;
      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $light-gray;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 248px;
  }
}

.advantages__item--fourth {
  @media (min-width: $tablet-width) {
    max-width: 271px;

    &::before {
      position: absolute;
      content: "4";
      width: 136px;
      height: 280px;
      top: 0;
      left: 113px;
      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $light-gray;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 250px;
    padding: 40px 5px 57px 0;
  }
}
