.button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 0.5s, background-color 0.5s;

  &:hover {
    background-color: $hover-green;
  }

  &:active {
    opacity: 30%;
  }
}

.button--hero {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}

.button--rare {
  color: $dark-gray;
  background-color: $light-gray;
  border: none;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    opacity: 30%;
  }
}

.button--form {
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 20px;
    min-width: 282px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.button--add-desktop {
  @media (min-width: $desktop-width) {
    width: 244px;
    min-height: 40px;
  }
}
