.cooperation {
  width: 100%;
  min-height: 474px;

  @media (min-width: $tablet-width) {
    min-height: 599px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.cooperation--color {
  background-color: $light-gray;
}

.cooperation__container {
  position: relative;
  min-width: 320px;
  min-height: 474px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 599px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    min-height: 400px;
  }
}

.cooperation__information {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px 20px 26px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 56px 70px 56px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 95px;
    left: 110px;
    max-width: 565px;
    min-height: 198px;
    padding: 56px 60px 56px 80px;
    gap: 40px;
    z-index: 3;
    margin-bottom: -198px;
  }
}

.cooperation__information--background {
  background-color: $light-gray;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.cooperation__title {
  width: min-content;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 55px;
    margin: 4px 0 0 0;
  }
}

.cooperation__description {
  width: min-content;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 7px;
    text-align: end;
    padding-left: 100px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    gap: 19px;
    margin: 0;
    padding-left: 0;
  }
}

.cooperation__map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 362px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.cooperation__map {
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.cooperation__link {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 362px;
  display: block;
  z-index: 1;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.cooperation__picture {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    min-height: 400px;
  }
}

.cooperation__icon {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
