.copyright {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 100%;

  @media (min-width: $tablet-width) {
    gap: 28px;
  }
}

.copyright__description {
  padding-top: 6px;
}

.copyright__icon-wrapper {
  position: relative;
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__icon {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}
