.examples {
  width: 100%;
  margin: 0 auto;
}

.examples__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $smoky-whites;
  padding: 25px 20px 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 43px 0 100px;
    background-image: linear-gradient($white 57%, $smoky-whites 57%);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px 75px;
    background-image: linear-gradient($white 23%, $light-gray 23%);
  }
}

.examples__about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 0 30px 71px 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    text-align: left;
    gap: 47px;
    padding: 0;
  }
}

.examples__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 99px;
  }
}

.examples__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 3px;
    margin-bottom: 22px;
  }
}

.examples__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    padding-right: 175px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.examples__describe {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-block: 0;
  margin-bottom: 12px;
  min-width: 123px;
  padding: 15px 43px;
  outline: 1px solid $gray-field;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    padding: 15px 57px 20px;
  }
}

.examples__describe--days {
  padding: 15px 21px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 15px 30px 20px;
  }
}

.examples__comment {
  display: block;
  position: absolute;
  content: "";
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
  margin-inline: 0;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    min-width: 114px;
    padding: 16px 10px 20px 8px;
    background-color: $white;
    top: 65%;
  }

  @media (min-width: $desktop-width) {
    background-color: $light-gray;
  }
}

.examples__comment--big {
  @media (min-width: $tablet-width) {
    min-width: 142px;
    padding: 5px 9px 8px 8px;
    top: 80%;
  }
}

.examples__cost-title {
  margin-block: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: 303px;
    right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    gap: 63px;
  }
}

.examples__slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 280px;
  min-height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    min-height: 512px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 10px auto;
  }
}

.examples__cat-before {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
}

.examples__cat-before-picture,
.examples__cat-after-picture {
  min-width: 280px;
  min-height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    min-width: 560px;
    min-height: 512px;
  }
}

.examples__cat-after {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
}

.examples__slider-control {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 100%;

  @media (min-width: $desktop-width) {
    max-height: 512px;
  }
}

.examples__slider-button {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
  background-color: $white;
  border: 2px solid #666666;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: border 0.5s;

  &:hover {
    border: 2px solid $green;
  }

  &:active {
    border: 2px solid rgba(94, 170, 47, 0.6);
  }
}

.examples__arrow-left,
.examples__arrow-right {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  display: inline-flex;
}

.examples__arrow-left {
  top: 11px;
  left: 6px;
  border-right: 9px solid #666666;
  border-left: none;
}

.examples__arrow-right {
  top: 11px;
  right: 6px;
  border-left: 9px solid #666666;
  border-right: none;
}

.examples__slider-button:hover .examples__arrow-left {
  border-right: 9px solid $green;
}

.examples__slider-button:hover .examples__arrow-right {
  border-left: 9px solid $green;
}

.examples__slider-button:active .examples__arrow-left {
  border-right: 9px solid rgba(94, 170, 47, 0.6);
}

.examples__slider-button:active .examples__arrow-right {
  border-left: 9px solid rgba(94, 170, 47, 0.6);
}

.examples__line {
  width: 100%;
  height: 100%;
  background-color: #666666;
  border-radius: 2px;
  transition: background-color 0.5s;

  @media (min-width: $desktop-width) {
    max-height: 512px;
  }
}

.examples__slider-button:hover ~ .examples__line {
  background-color: $green;
}

.examples__slider-button:active ~ .examples__line {
  background-color: rgba(94, 170, 47, 0.6);
}
