.fieldset-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  border: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  padding: 20px 20px 19px;

  @media (min-width: $tablet-width) {
    padding: 33px 67px 39px 70px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 10px 10px 110px;
  }
}

.fieldset-information--small {
  padding: 0;
}

.fieldset-information--cat {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.fieldset-information--purpose {
  @media (max-width: $mobile-width-only) {
    padding: 28px 20px 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    padding: 33px 110px 10px 10px;
  }
}

.fieldset-information--contacts {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    gap: 25px;
  }
}

.fieldset-information--comments {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.fieldset-information--additionally {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.fieldset-information--border {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.fieldset-information__container {
  position: relative;
  display: flex;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }
}

.fieldset-information__container--bottom {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.fieldset-information__container--contacts {
  @media (min-width: $tablet-width) {
    gap: 22px;
  }
}

.fieldset-information__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset-information__list--radio {
  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    gap: 28px;
    outline: 1px solid #e7e7e7;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 28px;
    gap: 23px;
    outline: 1px solid #e7e7e7;
  }

  @media (min-width: $tablet-width) {
    padding: 29px 28px;
  }
}

.fieldset-information__list--checkbox {
  padding: 16px 20px 23px;
  gap: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 23px 70px 32px;
    gap: 42px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 24px 110px 11px;
  }
}

.fieldset-information__control-label--radio {
  color: $dark-gray-2;
}

.fieldset-information__list--big {
  margin-top: 8px;
  margin-bottom: 6px;
}

.fieldset-information__control {
  position: relative;
  display: block;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.fieldset-information__control-mark {
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
  width: 29px;
  height: 29px;
  outline: 1px solid $gray-field;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
    top: -5px;
  }
}

.fieldset-information__control-mark--radio {
  border-radius: 50%;
}

.fieldset-information__control-input[type="radio"]:checked + .fieldset-information__control-mark--radio {
  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-color: $green;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.fieldset-information__control-input[type="checkbox"]:checked + .fieldset-information__control-mark--checkbox {
  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/stack.svg#icon-checkbox") no-repeat center center / cover;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 19px;
    }
  }
}

.fieldset-information__control-input:hover + .fieldset-information__control-mark {
  outline: 1px solid #bababa;
}

.fieldset-information__control-input:focus + .fieldset-information__control-mark {
  outline: 1px solid $black;
}

.fieldset-information__control-input:active + .fieldset-information__control-mark {
  outline: 1px solid $black;
}

.fieldset-information__control-input:disabled ~ span {
  opacity: 30%;
}

.fieldset-information__icon-wrapper {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  color: $dark-gray-2;
}

.fieldset-information__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.fieldset-information__title {
  position: relative;
  display: flex;
  padding: 26px 99px 5px 0;

  &::before {
    position: absolute;
    content: "";
    min-width: 100%;
    width: auto;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 39px 145px 38px 30px;

    &::before {
      top: 55%;
      transform: translateY(-55%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 9px 778px 13px 70px;
  }
}

.fieldset-information__title--comment {
  padding: 12px 158px 13px 0;

  &::before {
    position: absolute;
    content: "";
    min-width: 100%;
    width: auto;
    height: 2px;
    top: 53%;
    transform: translateY(-53%);
    left: 0;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 478px 28px 30px;

    &::before {
      top: 57%;
      transform: translateY(-57%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 8px 478px 28px 70px;

    &::before {
      top: 44%;
      transform: translateY(-44%);
    }
  }
}

.fieldset-information__title--checkbox {
  padding: 11px 136px 10px 0;

  &::before {
    position: absolute;
    content: "";
    min-width: 100%;
    width: auto;
    height: 2px;
    top: 56%;
    transform: translateY(-56%);
    left: 0;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 446px 19px 30px;

    &::before {
      top: 61%;
      transform: translateY(-61%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 7px 1078px 18px 70px;

    &::before {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.fieldset-information__title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 19px 0 20px;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 6px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.fieldset-information__title-wrapper--comment {
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 42px;
  }
}

.fieldset-information__title-wrapper--checkbox {
  padding-right: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.fieldset-information__field-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px 20px 12px;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 18px 67px 35px 68px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 110px 7px 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.fieldset-information__textarea-wrapper {
  padding: 11px 20px 12px;

  @media (min-width: $tablet-width) {
    padding: 28px 67px 35px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 110px 10px;
  }
}
