.hero {
  width: 100%;
  min-height: 500px;
  background-color: $white;
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 51px 30px 55px;
    min-height: 861px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 110px 80px;
    min-height: 602px;
    margin-bottom: 0;
  }
}

.hero__information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  padding: 26px 0 20px 0;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  z-index: 5;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    margin: 0;
    gap: 41px;
    padding: 0 200px 0 88px;
    text-align: left;
    max-width: 708px;
    min-height: 284px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    gap: 40px;
    padding: 0 116px 49px 80px;
    max-width: 615px;
    min-height: 232px;
  }
}

.hero__picture-wrapper {
  position: absolute;
  content: "";
  width: 280px;
  min-height: 270px;
  top: 73%;
  transform: translateY(-73%);
  margin: 0 auto;
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    padding: 0;
    margin: 0;
    top: 100%;
    transform: translateY(-100%);
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -34%;
    transform: translateY(34%);
    right: 330px;
  }
}

.hero__picture {
  position: absolute;
  content: "";
  width: 280px;
  height: 270px;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  display: block;
  min-width: 280px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    min-width: 244px;
    z-index: 3;
    margin-top: 8px;
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    top: 281px;
    left: 190px;
    margin-top: 12px;
    margin-left: 0;
  }
}
