.link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.link--header {
  font-size: 20px;
  line-height: 20px;
}

.link--small {
  text-transform: none;
}
