.list-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  min-height: 62px;
  padding: 20px 0;
  gap: 22px;
  margin-block: 0;
  padding-inline: 0;
}

.list-network__item {
  width: 28px;
  height: 22px;
}
