.main-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 6;
  margin-left: auto;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $white;
  color: $black;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
    padding: 0 30px;
    max-width: 505px;
  }

  @media (min-width: $desktop-width) {
    gap: 32px;
    max-width: 480px;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
  }
}

.main-navigation__list--light {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.main-navigation__item a {
  min-height: 65px;
  padding: 22px 0 24px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  transition: opacity 0.5s;

  &:hover {
    opacity: 60%;
  }

  &:focus-visible {
    outline: 2px solid $focus;
    outline-offset: 2px;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    max-width: 64px;
    padding: 17px 0 24px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 70px;
  }
}

.main-navigation__item:first-child {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    margin-right: 4px;
  }
}

.main-navigation__item .link--big {
  @media (min-width: $tablet-width) {
    max-width: 153px;
  }

  @media (min-width: $desktop-width) {
    max-width: 170px;
  }
}

.main-navigation__item:not(:first-child) {
  @media (min-width: $tablet-width) {
    margin-right: 2px;
  }
}

.main-navigation__toggle {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  left: 256px;
  width: 64px;
  height: 62px;
  padding: 20px;
  background-color: $white;
  z-index: 6;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: none;
    z-index: 0;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 24px;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation--opened .main-navigation__list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 65px;
    right: 0;
    left: 0;
    z-index: 6;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 1s;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  content: "";
  top: 23px;
  right: 20px;
  width: 24px;
  height: 2px;
  z-index: 6;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-navigation--closed .main-navigation__list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 65px;
    right: 0;
    left: 0;
    z-index: 6;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 1s;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
  z-index: 1;
}

.main-navigation--nojs .main-navigation__list {
  position: static;
  min-height: 198px;
  transform: none;
}

.main-navigation--nojs .main-navigation__item {
  display: block;
}

.main-navigation--nojs ~ a {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    min-height: 65px;
    padding: 22px 0 24px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: opacity 0.5s;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }
}
