.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: $black;
  margin-block: 0;
  padding-inline: 0;
  background-color: $white;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 58px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 110px 52px;
    z-index: 2;
    background-color: transparent;
  }
}

.main-header--catalog {
  @media (min-width: $desktop-width) {
    padding: 54px 110px 52px;
  }
}

.main-header--background {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    top: 100%;
    right: 0;
    background: $green url("../img/header/cat-hero-mobile.jpg") no-repeat center / cover;
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/cat-hero-mobile@2x.jpg");
      background-size: 320px 302px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 720px;
      height: 694px;
      top: 0;
      right: 0;
      background: $green-opasity url("../img/header/cat-hero-desktop.jpg") no-repeat center / cover;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/header/cat-hero-desktop@2x.jpg");
        background-size: 720px 694px;
      }
    }
  }
}
