.main-footer {
  width: 100%;
  background-color: $light-gray;
  display: flex;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px 20px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 110px;
  }
}

.main-footer__logo-wrapper {
  position: relative;
  display: block;
  min-width: 129px;
  min-height: 64px;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      min-width: 100%;
      width: auto;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: $gray-pseudo;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 143px;
    min-height: 67px;
  }
}

.main-footer__logo {
  position: relative;
  display: block;
  min-width: 129px;
  min-height: 64px;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    min-width: 143px;
    min-height: 67px;
  }
}

.main-footer__logo-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
