.note {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: $white;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    align-self: center;
  }
}
