.product-card {
  width: 100%;
  display: flex;
  padding: 0 20px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    max-width: 324px;
    min-height: 430px;
    margin-top: 73px;
    padding: 0;
    background-color: $light-gray;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    min-height: 431px;
    margin-top: 80px;
  }
}

.product-card--rice {
  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.product-card__container {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 13px;
  padding: 19px 0 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 324px;
    min-height: 430px;
    margin: 0 auto;
    padding: 0 37px 39px 39px;
    gap: 33px;
    justify-content: space-between;
    top: -45px;
    margin-bottom: -45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    min-height: 431px;
    padding: 0 38px 40px 39px;
    top: -52px;
    margin-bottom: -52px;
  }
}

.product-card__container--big {
  @media (min-width: $tablet-width) {
    top: -73px;
    margin-bottom: -73px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
    margin-bottom: -80px;
  }
}

.product-card__container--middle {
  @media (min-width: $tablet-width) {
    top: -47px;
    margin-bottom: -47px;
  }

  @media (min-width: $desktop-width) {
    top: -54px;
    margin-bottom: -54px;
  }
}

.product-card__link {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  max-width: 280px;
  cursor: pointer;
  transition: opacity 0.5s;
  color: $dark-gray;

  &:hover {
    opacity: 60%;
  }

  &:focus {
    outline: 2px solid $focus;
    outline-offset: -2px;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    max-width: 248px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
    max-width: 172px;
  }
}

.product-card__picture-wrapper {
  display: block;
  min-width: 68px;
  min-height: 78px;
  margin: 14px 8px 4px 36px;

  @media (min-width: $tablet-width) {
    min-width: 161px;
    min-height: 172px;
    margin: 0 auto;
  }
}

.product-card__picture {
  min-width: 68px;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.product-card__picture-wrapper--chiken {
  min-height: 86px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__picture-wrapper--fish {
  min-width: 68px;
  min-height: 78px;
  margin: 27px 8px 7px 36px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    min-height: 174px;
    margin: 0 auto 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__picture-wrapper--buckwheat {
  min-width: 68px;
  min-height: 78px;
  margin: 28px 8px 7px 36px;

  @media (min-width: $tablet-width) {
    min-width: 161px;
    min-height: 171px;
    margin: 2px auto 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__picture-wrapper--big {
  min-width: 84px;
  min-height: 100px;
  margin: 10px 0 1px 28px;

  @media (min-width: $tablet-width) {
    min-width: 168px;
    min-height: 200px;
    margin: 0 auto 6px;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
    min-height: 196px;
    margin-bottom: 4px;
  }
}

.product-card__picture--big {
  width: 84px;
  height: 100px;


  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product-card__picture-wrapper--big-chiken {
  @media (min-width: $tablet-width) {
    min-width: 168px;
    min-height: 206px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
    min-height: 196px;
  }
}

.product-card__picture--big-chiken {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    margin-bottom: 4px;
  }
}

.product-card__picture-wrapper--middle {
  min-width: 72px;
  min-height: 84px;
  margin: 23px 6px 3px 34px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    min-height: 174px;
    margin: 0 auto 6px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.product-card__picture--middle {
  width: 72px;
  height: 84px;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
  }
}

.product-card__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 140px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    max-width: 248px;
    gap: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 172px;
  }
}

.product-card__title {
  margin: 0 64px 14px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 45px;
    margin: 0 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px 0 12px;
    margin: 2px 0 17px 0;
  }
}

.product-card__title-small {
  @media (min-width: $desktop-width) {
    margin: 0 0 16px 0;
  }
}

.product-card__title--middle {
  @media (min-width: $desktop-width) {
    padding: 0 10px 0 12px;
    margin: 0 0 18px 0;
  }
}

.product-card__describe {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 9px;
    min-width: 247px;

    &::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      bottom: 0;
      left: -1px;
      background-color: $gray-field;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 7px 2px 9px;
    min-width: 165px;

    &::after {
      width: 169px;
    }
  }
}

.product-card__argument {
  text-align: start;
  max-width: 50px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: 50px;
  }
}

.product-card__comment {
  text-align: end;
  margin-inline: 0;
  max-width: 51px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: 51px;
  }
}
