.product-catalog {
  width: 100%;
}

.product-catalog__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      min-width: 100%;
      width: auto;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #ebebeb;
    }
  }
}

.product-catalog__title {
  text-align: left;
  padding: 27px 20px 41px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 110px 45px;
  }
}

.product-catalog__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px 60px;
    padding: 60px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    padding: 38px 110px;
    margin: 0;
  }
}

.product-catalog__button {
  @media (min-width: $desktop-width) {
    max-width: 168px;
  }
}
