.show-all-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  padding: 78px 20px 25px;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    top: 25px;
    right: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.show-all-card__description {
  margin-bottom: 13px;
}
