.signature {
  display: block;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-gray;
  text-transform: uppercase;
  align-self: center;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.signature--long {
  margin-right: 3px;
}
