*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

header,
footer {
  flex-shrink: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
